.about-section {
  background-color: rgba(209, 206, 199, 0.5);
  padding-bottom: 10vh;

  &__content {
    display: flex;
    padding-top: 40px;
    gap: 40px;
    flex-wrap: wrap;
    line-height: 175%;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    & > div:first-child {
      width: 100%;
      flex: 2;
      position: relative;
      @media (max-width: $break-600) {
        display: flex;
        justify-content: center;
      }
    }

    & > div:last-child {
      flex: 3;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__photo {
    border-radius: 40px;
    overflow: hidden;
    @supports (aspect-ratio: 1) {
      border-radius: 50%;
    }

    img {
      width: 100%;
      aspect-ratio: 1;
      display: block;
      object-fit: cover;
      object-position: center;
    }

    &--1 {
      width: 60%;
      z-index: 2;
    }

    &--2 {
      position: absolute;
      width: 36%;
      bottom: 0;
      right: 0;
      z-index: 1;
      @media (max-width: $break-600) {
        display: none;
      };
    }
  }
}
