.button {
  background-color: $primaryGreen;
  border-radius: 40px;
  text-transform: uppercase;
  padding: 20px 40px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: none;
  letter-spacing: 2px;
  font-family: 'League Spartan', sans-serif;
  font-size: $fz20;
}
