.contact {
  min-height: 95vh;

  &__wrapper {
    padding-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    gap: 4vh;
    align-items: center;
  }

  &__box {
    flex: 1;

    @media (max-width: $break-1200) {
      flex-basis: 100%;
    }

    &--map {
      background: $primaryGreen;
      height: 50vh;
    }

    &--info {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      @media (max-width: $break-900) {
        padding-bottom: 5vh;
      }
    }
  }

  &__row {
    display: flex;
    gap: 1vh;
    align-items: center;
  }
}
