#s1 {
  position: relative;
  padding-block: $headerHeight;
  background: url("./assets/img/kropka-hero-bg.jpg");
  background-size: cover;
  height: 100vh;

}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  gap: 50px;
  position: relative;
  width: 100%;

}

.buuble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: .4vw;
  line-height: 150%;
  gap: 2vw;
  font-size: 1.5vw;
  position: relative;
  left: 10vw;
}
