@import url('http://fonts.cdnfonts.com/css/now');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

@import "variables";
@import "header";
@import "footer";
@import "hero";
@import "schedule";
@import "content-with-image";
@import "button";
@import "price-list";
@import 'contact';
@import 'socials';
@import 'section-title';
@import 'about-section';
@import 'offer-section';
@import 'workshops';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Now', sans-serif;
  font-weight: 300;
  color: $black;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: .5s;
  overflow-y: scroll;

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    background-image: url("~/assets/img/kropka-bg.svg");
    background-position: 0 0;
    background-size: cover;
  }
}

.site {
  padding-top: $headerHeight+4vh;
  position: relative;
  @media (max-width: $break-1200) {
    padding-top: $headerHeight;
  }
}

.container {
  width: calc(min(1320px, 90%));
  margin-inline: auto;
  overflow-x: hidden;
}

.column {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.mobile-only {
  display: none;
  @media (max-width: $break-600) {
    display: block;
  }
}

.desktop-only {
  display: block;
  @media (max-width: $break-600) {
    display: none;
  }
}

h2 {
  font-size: 28px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  @media (max-width: $break-600) {
    font-size: 20px;
  }
}

h3 {
  font-size: 20px;
  @media (max-width: $break-600) {
    font-size: 16px;
  }
}

//scrollbar
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
  position: absolute;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $black;
}

//page transistion
.page-enter-active, .page-leave-active {
  transition: .5s;
}

.page-enter, .page-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.layout-enter-active, .layout-leave-active {
  transition: .5s
}

.layout-enter, .layout-leave-active {
  opacity: 0
}
