.offer {

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    background-image: url("~/assets/img/kropka-bg.svg");
    background-size: cover;

  }

  .section-title {
    margin-bottom: 50px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
  }

  &__card {
    background-color: #eee;
    position: relative;
    height: 200px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex: 0 1 300px;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    cursor: pointer;

    &:hover .top-img {
      opacity: 0;
    }

    &:hover .bg-img {
      opacity: 1;
    }

    &:hover .label {
      opacity: 1;
      background: rgba(255, 255, 255, 0.75);
    }

    .label {
      padding: 10px;
      border-radius: 20px;
      transition: .3s;
      z-index: 2;
      max-width: 90%;
      text-align: center;
      font-weight: bold;
      line-height: 150%;
    }

    .top-img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      object-fit: cover;
      object-position: center;
      transition: .3s
    }

    .bg-img {
      position: absolute;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 40px;
      opacity: 0;
      z-index: 1;
      transition: .3s
    }
  }

  &__modal-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
}
