.price-list {

  display: flex;
  flex-direction: column;
  gap: 4vh;

  @media (max-width: $break-900) {
    font-size: 12px;
  }

  &__header {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
  }

  &__group {
    background: $primaryGreen;
    color: white;
    padding: 10px;
  }

  &__event {
    display: flex;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid gray;
    }
  }
}


.tooltip {
  cursor: pointer;

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    bottom: 30px;
    scale: 0;
    transition: .3s;
    @media (max-width: $break-900) {
      bottom: unset;
      right: 0;
      top: 0;
      width: 200px;
    }
  }

  &:hover:before {
    scale: 1
  }
}
