.schedule {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  min-height: 95vh;

  @media (max-width: $break-900) {
    font-size: 14px;
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    margin: auto;
    height: 80px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $primaryGreen;
    border-color: $primaryGreen transparent $primaryGreen transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  &__filter {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__header {
    display: flex;
    padding: 10px;
    font-weight: bold;
    gap: 10px;

    @media (max-width: $break-900) {
      display: none;
    }
  }

  &__group-label {
    background-color: $primaryGreen;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
  }

  &__event-row {
    display: flex;
    padding: 10px;
    gap: 10px;

    @media (max-width: $break-900) {
      flex-direction: column;
    }
  }

  &__event-row:not(:last-child) {
    border-bottom: 1px solid gray;
  }

  &__event-row:nth-child(odd) {
    background: rgba($primaryGreen, .2);
  }

  &__event-label {
    flex: 3;
    font-weight: bold;
  }

  &__event-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;


  }

  &__event-content-column {
    flex: 1;
    @media (max-width: $break-900) {
      flex: unset;
    }
  }

  &__event-content-row {
    display: flex;
    gap: 10px;
  }

  &__price-content {
    position: relative;
    display: flex;
    flex: 2;

    @media (max-width: $break-900) {
      flex-direction: column;
      gap: 10px;
    }

    & > div {
      flex: 1;
      display: flex;
      @media (max-width: $break-900) {
        flex: unset;
        gap: 10px;
        align-items: baseline;
      }
    }
  }
}


.display-900-down {
  display: none;
  @media (max-width: $break-900) {
    display: block;
  }
}
