.socials {
  background: rgba(255, 255, 255, .8);
  position: absolute;
  bottom: 60px;
  right: 60px;
  padding: 16px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;

  svg {
    width: 40px;
  }
}
